aiodns==1.1.1
aiohttp==3.6.2
APScheduler==3.6.3
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
ccxt==1.34.31
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
cryptography==3.3.2
cycler==0.10.0
gevent==20.6.2
greenlet==0.4.16
idna==2.10
isort==5.5.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
multidict==4.7.6
-e git+https://github.com/Chr1sC0de/Nibbler.git@22760dd2aff1eb08574ed359b22c8a9c142e3d8c#egg=nibbler
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
pycares==3.1.1
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
TA-Lib @ file:///D:/Github/Nibbler/resources/talib/TA_Lib-0.4.17-cp37-cp37m-win_amd64.whl
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.10
websocket==0.2.1
wrapt==1.12.1
yarl==1.1.0
zope.event==4.4
zope.interface==5.1.0
